* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  height: 180vh;
  color: whitesmoke;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.apachurra {
  padding:  .5rem 1rem;
  border-radius: .8rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 800;
  color: darkslategray;
  background-color: lightgreen;
  cursor: pointer;
  transition: all 0.3s ease;
}

.apachurra:hover {
  background-color: black;
  scale: 1.1;
}

.apachurra:active {
  scale: .9;
}